<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projects</h4>
                <div class="row m-t-20">
                    <div class="col-md-9">
                        <label for="agency" class="control-label col-form-label">Agency: </label>
                    </div>
                    <div class="col-md-9">
                        <select id="agency" #agency (change)="onAgencyChange(agency.value)">
                            <option [ngValue]="agency" *ngFor = "let agency of agencies">
                                {{agency}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-9">
                        <label for="project" class="control-label col-form-label">Projects: </label>
                    </div>
                    <div class="col-md-9">
                        <select id="project" #project (change)="onProjectChange(project.value)">
                            <option [ngValue]="projects" *ngFor = "let project of projects">
                                {{project}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-20">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{pa_category}}</h1>
                                <h6 class="text-white">PA Category</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">{{pw_number}}</h1>
                                <h6 class="text-white">PW</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white">{{ppid}}</h1>
                                <h6 class="text-white">PPID</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <h1 class="font-light text-white">{{approx_cost | currency}}</h1>
                                <h6 class="text-white">Approx Cost</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>